<mat-card>
  <app-select-tee></app-select-tee>
  
  <div id="gameArea">
    <div id="left">
      <div class="pHeader">Players</div>
      <div class="colSubtitle">Yardage</div>
      <div class="colSubtitle">Par</div>
      <div id="players" *ngFor="let player of players">
        {{player.name}}
      </div>
      <br>
    </div>
    
    <div id="columns">
      <div style="color:white">IF BELOW HAS ANY TEXT AT ALL, YOU WIN!:</div>
      <div *ngFor="let course of hack(holes.data)">
        <div>Hole #{{course.holes[0].hole}}</div>
        <div>Yardage: {{course.holes[0].teeBoxes[0].yards}}</div>
        <div>Par: {{course.holes[0].teeBoxes[0].yards}}</div>
      </div>
    </div>
    
    <div id="total">
    
    </div>
  </div>

</mat-card>



