<mat-card>
  <p *ngFor="let player of players" class="playerList">
    {{player.name}}
    <button mat-button class="deleteBtn" (click)="deletePlayer(player.name)">x</button>
    <div class="emptyList" *ngIf='(players)?.length === 0'>No players yet!</div>
  <!--</p>-->
  <div>
    <form class="newPlayerForm">
      <mat-form-field>
        <input #playerName matInput placeholder="Player name" value=""><br>
      </mat-form-field>
      <button mat-button type="button" (click)="addPlayer(playerName.value); playerName.value=''">Create New</button>
    
    
    </form>
  </div>

</mat-card>
